<div class="fd-tool-header">
  <div class="fd-tool-header__group">
    <div class="fd-tool-header__element">
      <img class="fd-tool-header__logo" src="//unpkg.com/fundamental-styles/dist/images/sap-logo.png" alt="SAP">
    </div>
    <div class="fd-tool-header__element">
      <h4 class="fd-title fd-title--h5 fd-tool-header__title">Device connections</h4>
    </div>
  </div>
  <div class="fd-tool-header__group">
    <div class="fd-tool-header__element">
      <span class="fd-avatar fd-avatar--xs fd-avatar--circle fd-avatar--thumbnail"></span>
    </div>
  </div>
</div>
