:host {
  z-index: 1;

  background-color: var(--sapBackgroundColor);
  border: 1px solid var(--sapList_BorderColor);

  box-shadow: 0 0 70px #00000020;
  border-radius: 3px;
  overflow: hidden;
  min-height: 0;
  min-width: 0;

  top: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

}

::ng-deep .full-size {
  width: 100% !important;
  height: 100% !important;
  transform: unset !important;
  resize: none;
}

::ng-deep .minimize-size {
  max-height: 43px !important;
  max-width: 400px !important;
  opacity: 0.9;
  resize: none;

  margin: unset;
  bottom: 10px !important;
  left: 10px !important;
  top: unset;
}

.modal-window-body {
  /*height: 100%;*/
  min-height: 0;
  display: flex;
  flex-grow: 1;
}

::ng-deep .modal-window-body > div:nth-child(1) {
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.modal-window-header {
  background-color: #354A5FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px;
  color: var(--sapShell_InteractiveTextColor);
  cursor: move;
}

.modal-window-header h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-window-header-action-bar {
  display: flex;
}

.modal-window-footer {
  /*min-height: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  border-top: 1px solid var(--sapList_BorderColor);
}

.modal-window-footer span {
  opacity: 0.3;
  font-size: 16px;
  user-select: none;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
}
.spacer {
  min-width: 20px;
}

.sap-icon--overflow:before {
  height: 30px;
  display: flex;
}

::ng-deep .resizable {
  resize: both;
}
