<app-header (click)="showUserInfo = true"></app-header>
<video #video autoplay playsinline controls="false"></video>
<app-modal-window [id]="'master-input-id'"
                  *ngIf="showUserInfo"
                  style="z-index: 100"
                  [allowFullSize]="false"
                  [allowMinimize]="false"
                  [resizable]="false"
                  [baseHeight]="'600px'"
                  [baseWidth]="'800px'"
                  [minWidth]="'700px'"
                  [minHeight]="'450px'"
                  (decline)="onUserInfoDecline()"
                  [headerTitle]="'Настройки'"
>
  <div modalWindowBody>
    <span class="fd-avatar fd-avatar--xl fd-avatar--thumbnail fd-avatar--background-contain"
          style="background-image: url('/admin_api/generate_token_link')"
    ></span>
  </div>
</app-modal-window>
