<app-header (onConnectDeviceButtonClick)="onConnectDeviceButtonClick()"></app-header>
<app-connections-wrapper>
  <div content style="display: contents">
    <ng-container *ngFor="let videoElement of videoElementsStoreService.getVideoElements()">
      <div class="fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3">
        <video-element-wrapper [videoElement]="videoElement"></video-element-wrapper>
      </div>
    </ng-container>
  </div>
</app-connections-wrapper>
<app-footer></app-footer>
<app-device-connection-link-modal
  *ngIf="showDeviceConnectionModal"
  (onDecline)="showDeviceConnectionModal = false"
></app-device-connection-link-modal>
